*{
    padding: 0; 
    margin:0; 
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

body{
	scroll-behavior: smooth;
	overflow-x: hidden;
	margin: 0;
  	padding: 0;
    background-color: rgb(252, 242, 231);
    box-sizing: border-box;
}
header{
	width: 100vw;
	height:auto;
	background:white;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}
nav{
	width: 100%;
	height:80px;
	background: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 80px;
	position:fixed;
	top:0;
	background:white;
	z-index: 1;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.logo{
	font-family: sans-serif;
	font-size:2.5em;
    cursor: pointer;
}
.logo span{
	color: #e74c3c;
}
.menu a{
	text-decoration: none;
	color: black;
	font-size:20px;
	
	padding: 10px 20px;
	font-family: sans-serif;

}
.menu a:first-child{
	color:black;
}
.menu a:hover{
	color: #e74c3c;
	transition: 0.4s;
}
.icon i{
	font-size:20px;
}
.icon i:hover{
	color: #e74c3c;
}
.icon a{
	padding:10px 20px;
	background:#e74c3c;
	color:white;
	text-decoration: none;
	margin-left:30px;
	border-radius: 5px;  
}
.icon a:hover{
	background: transparent;
	border:1px solid #e74c3c;
	color: black;
	transition: 0.4s ease;
}


footer{
	background: #262626;
	color: white;
	width: 100%;
	padding: 50px 100px;
	margin-top: 0px;
}
.f-contact{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top:3em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.f-contact>div{
	margin: 50px;
}
.f-contact p{
	line-height:2em;
	font-size: 20px;
	color: grey;	
	cursor: pointer;
}
.f-contact p:hover{
	color: white;
}
.f-contact i{
	background: white;
	color: black;
	padding:10px;
	font-size:16px;
	margin: 20px 5px;
	border-radius: 50%;
	transition: .4s ease;
}
.f-contact i:hover{
	background: transparent;
	border:1px solid white;
	color: white;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .popup-content {
    background-color: #fff;
    width: 400px;
	height: 350px;
    padding: 20px;
    margin: 10% auto;
    position: relative;
	border-radius: 6px;
	font-size: 20px;
  }
  .popup-content input{
	width: 350px;
	height: 40px;
	border: 1.5px solid black;
  }
  .popup-content input:hover{
	border: 1.5px solid gray;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
.open-popup{
	width: 80px;
	height: 40px;
	background-color: #e74c3c;
	color: white;
	font-size: 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.s2{
	text-align: center;
	font-size: 30px;
}
.sub{
	width: 80px;
	height: 40px;
	background-color: green;
	color: white;
	font-size: 15px;
	border: none;
	border-radius: 4px;	
	margin-left: 140px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 999;
}
.megacontainer{
    display: flex;
    margin-top: 100px;
}
main{
    width: 400px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 50px;
    box-shadow: 0 0 10px gray;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.slide{
    width: 400px;
    height: 400px;
    border-radius: 8px;
    position: absolute;
    transition: 1s;
}
button.prev{
    margin-top: 0px;
    margin-left: 180px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 25px;
    border: none;
    background-color: black;
    color: white;
    font-size: 40px;
}
button.next{
    margin-top: 0px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 40px;
}
button.prev:hover{
    box-shadow: 0 0 15px black;
}
button.next:hover{
    box-shadow: 0 0 15px black;
}
button.bbook{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    font-size: 25px;
}
button.bbook:hover{
    background-color: #161616;
    box-shadow: 0 0 15px black;
}
div.container2{
    margin-left: 100px;
    margin-top: 50px;
}
.text1{
    font-size: 40px;
}
.span1{
    font-size: 25px;
}
.span2{
    color: rgb(40, 40, 40);
}
.span3{
    color: rgb(40, 40, 40);
    font-size: 20px;
    text-decoration: dashed;
}
div.facs{
    margin-left: 20px;
}
